body {
  margin: 0;
  font-family: sans-serif;
}

header, main, footer {
    width: 100%;
}

main{
  margin: 0 0 50px 0;
}


/*ドット下線リセット*/
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a{
    color: #000;
    text-decoration: none;
}

li {
  line-height: 1.8; /* お好みで 1.6〜2.0 くらい */
}

li::before {
  content: "◆";   /* ←好きな記号に変えてOK */
  margin-right: 6px; /* 文字との余白 */
  color: #008080;    /* 色も自由 */
  font-size: 1em;
}

/*ロゴエリア*/
header{
    display: flex;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;      /* 上に出す */

}

.logo-area{
    margin-right: auto;
    margin: 10px 30px;
    padding: 0;
}

.logo-area h1{
    font-size: 25px;
    margin: 0 0 4px 0;
}

.logo-area h3 {
    font-size: 13px;
    margin: 0;
    text-align: center;
}

.menu-area{
    margin: 10px 30px;
    margin-left: auto;
}

nav{
    width: 100%;
    text-align: center;
    font-weight: bold;
}

nav a{
    color: #000;
}

/* ハンバーガー本体 */
.hamburger {
  width: 30px;
  height: 22px;
  top: 30px;
  right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  position: fixed;
  z-index: 30000;
}

.hamburger span {
  display: block;
  height: 3px;
  background: #000;
  transition: 0.3s;
}

/* メニュー全画面 */
.menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100vh;
  background: #fff;
  transition: 0.4s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.menu li::before{
    content: "";
}


.menu ul {
  list-style: none;
  padding: 0;
  text-align: center;
  font-size: 24px;
}

.hover-line {
  position: relative;
  display: inline-block;
  padding-bottom: 2px;
}

.menu li{
    line-height: 5rem;
    letter-spacing: 0.3em;
}

.hover-line::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #008080;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform .3s;
}

.hover-line:hover::after {
  transform: scaleX(1);
}

.menu.open {
  right: 0;
}

/* 三本線 → バツ */
.hamburger.active span:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}
/* メインーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
.main-content{
    width: 1000px;
    margin: 0 auto;
    padding-top: 80px;
}

.top-deco h3,
.top-pic h3{
    font-size: 20px;
    font-weight: bold;
    text-decoration-line: underline;
    text-decoration-color: #008080;
    text-decoration-thickness: 5px;
    text-underline-offset: 4px;
}


.top-deco{
    margin: 60px 0 0 0;
}

.content-deco{
    margin: 0 0 0 20px;
}

/* キャッチコピーエリア*/
#theme-area{
    position: relative;
    text-align: center;
    padding: 60px;
    background-image: url("pic/kotetsuPAR513561995_TP_V.jpg");
    background-size: cover;
    background-position: center;
  }

#theme-area::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.6);
  pointer-events: none;
  z-index: 1;
}

.theme-area-text{
  position: relative; 
  z-index: 2;
}

/* お知らせエリア*/
#top-news{

}

#top-news li {
  display: flex;
  gap: 20px;
  padding: 8px 0;
  border-bottom: 1px solid #ddd;
}

#top-news li::before {
  content: "";   /* ←好きな記号に変えてOK */
}

#top-news .date {
  width: 150px;
  font-weight: bold;
  color: #555;
}

#top-news .title {
  flex: 1;
}

.show-more-wrapper{
  text-align: right;
}

.show-more{
    display: block;
    display: inline-block;
    margin: 20px 0 0 0;
    padding: 5px 10px;
    border: 1px solid #333;
    background: #ffffff;
}

.show-more:hover{
  background-color: #008080;
}

.show-more a:hover{
  color: #ffffff ;
}

/* 事業内容エリア*/
#top-business{
  margin: 0 0 50px 0;
}

#top-business .content-deco{
    display: flex;
    gap: 10px;
}

.top-business-card{
    border:1px solid black;
    border-radius: 2%;
    padding:20px 0;
}

.top-business-card img{
    width: 100%;
    margin: 0 0 20px 0;
}

.top-business-card h4{
  position: relative;
  text-align: center;
  margin: 0 0 10px 0;
}

.top-business-card h4::after{
    content: "";
    position: absolute;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%);
    width: 220px;
    height: 3px;
    background: #008080;
}

.top-business-card p{
    margin: 0 20px 20px 20px;
}


.top-pic{
    display: flex;
    margin: auto;
    gap: 100px;
    background: #f5f5ff;
}

.top-pic:nth-child(odd) {
  flex-direction: row-reverse;
  background: #ffffff;
  text-align: left;
  margin-left: 0;
  margin-right: auto;
}

.top-pic img{
    width: 450px;
    height: auto;
}

.top-pic .content-deco{
    width: 80%;
    margin: 60px 0px 0 0; 
}


.top-pic .show-more{
    text-align: right;
    margin: 0 20px 0 0;
}
/* 睡眠研究エリア*/



/* 企業情報エリア　左寄せにする*/
#top-company{
}

/* 採用情報エリア*/

/* フッターーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
.footer-content{
    margin: auto; 
}

.footer-logo{  
    margin-right: auto;
    margin: 0px 0px 0;
    text-align: center;
}

footer .logo-txt{
    color: #000;
    font-size: 25px;
    margin: 0 0 0 0;
    font-weight: bold;
}

footer .logo-cacht{
    font-size: 13px;
    margin: 5px 0 0 0;
}

.footer-each-link{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin: 20px 0 0 0;
}

.footer-each-link a{
    margin: 0 15px 0 0;
    color: #000;
    font-size: small;
}

.footer-each-link li::before {
  content: "";   /* ←好きな記号に変えてOK */
}

.copyright{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin: 15px 0 0 0;
    color: #000;
    font-size: 10px;
}

@media (min-width: 768px) {/* 768pxから */
/* ハンバーガーメニューレスポンシブ */
  .hamburger {
    display: none;
  }

  .menu {
    position: static;
    width: auto;
    height: auto;
    right: 0;
    background: none;
    display: block;
    transform: none;
    right: -100% !important;
  }

  .menu ul {
    display: flex;
    gap: 32px;
    font-size: 16px;
  }

  .top-pic-sp{
    display: none;
  }

    .menu li{
    line-height: 1rem;
    letter-spacing: 0.1em;
}

}

@media (max-width: 1000px) {/* 1000pxまで */
  .main-content{
      display: block;
      width: 95%;
      padding-top: 60px;
  }

  .menu ul {
    gap: 10px;
  }

}



@media (max-width: 767px) {/* 767pxまで */
  #theme-area{
    padding: 60px 20px;
  }

  #top-news li{
    flex-direction: column; /* 縦並びに切り替え */
    align-items: flex-start;
    gap: 3px;
  }

  #top-news .title{
    padding:0 20px;
  }

  .top-deco h3,
  .top-pic h3{
    letter-spacing: 0.1em;
  }



#top-business .content-deco{
    flex-direction: column; /* 縦並びに切り替え */
    align-items: flex-start;
    gap: 3px;
}
.top-business-card{
    width: 95%;
    border: none;
}

.top-business-card img{
    width: 95%;
}


.top-pic{
    flex-direction: column; /* 縦並びに切り替え */
    align-items: flex-start;
    gap: 3px;
    background: none;
    width: 95%;
    padding:0 0 10px 0;
  }

  .top-pic-pc{
    display: none;
  }
  
  .top-pic:nth-child(odd) {
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.top-pic img{
    width: 95%;
    height: auto;
}

.top-pic .content-deco{
    width: 95%;
    margin: 10px 0 20px 0; 
}

.show-more-wrapper{
  text-align: right;
}

.copyright{
    width: 90%;
    text-align: center;
    flex-direction: column; /* 縦並びに切り替え */
    gap: 3px;
    
}

.footer-each-link{
    flex-direction: column; /* 縦並びに切り替え */
    align-items: center;
    gap: 1px;
    margin: 20px 5px 0;
}
.footer-each-link li{
    line-height: 1rem;
}

.footer-each-link a{
    font-size: 10px;
}
}