:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
}

body {}


a {
  font-weight: 500;
  color: skyblue;
  text-decoration: inherit;
}



a:hover {
  color: skyblue;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-image: linear-gradient(90deg, skyblue, pink);
  color: white;
  cursor: pointer;
}

button:hover {
  border-color: skyblue;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* ビューポート全体の高さを確保 */
}


.container {
  display: flex;
  align-items: center;
  flex: 1; /* ヘッダー・フッターを除いた残りを占める */
  flex-direction: column;
  padding: 20px 30px;
  width: 100%;
  box-sizing: border-box;/* padding込みで幅を正しく計算 */
}

.maincontents {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  box-sizing: border-box;
  max-width: 1000px;
  width: 100%;
  min-width: 315px;
  /* 横幅を広げる */
  overflow: auto;
  /* 内容が溢れたらスクロール */
}

.caption {
  margin-top: 1rem;

}

/* タブレット → スマホ（必須） */
@media (max-width: 768px) {

  .container {
    padding: 20px 20px;
  }
  .maincontents {
    padding: 20px 0;
  }
}

/* 小さめスマホ */
@media (max-width: 480px) {

}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    /* color: #747bff; */
  }

  button {
    /* background-color: #e9c2c2; */
  }
}